/* COLORES 
#150e6b
#12289f
#3648b6
#c9ccff
#e1e5f0 
*/
/* default */

html, body, #app{
    height: 100%;
    margin: 0!important;
}
header {
    z-index: 1;
}
#app {
    display: grid;
    grid-template-rows: 56px 1fr 75px;
}
footer{
    background: #150e6b;
    color: #c9ccff;
    height: 75px;
}
footer p {
    margin: 0;
}
strong {
    font-weight: normal;
}
hr{
    background-color: #3648b6;
    width: 60%;
    height: 1px;
    border: none;
}
.alert{
    width: 30%;
    margin: auto;
}
.btn-cancelar{
    color: #e1e5f0;
    background: #b40a1a;
}
.btn-cancelar:hover{
    color: #e1e5f0;
    background: #aa0f0f;
}
/* DASHBOARD */
/* header */
.dashboard-header{
    padding: 10px;
    margin-bottom: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.dashboard-header div h1{
    padding-left: 5px;
}
.dashboard-header div h1 span{
    color: #150e6b;
}
.btn-dashboard{
    color: #150e6b;
    background: #c9ccffbb;
}
.btn-dashboard:hover{
    background: #c9ccff;
}
.dashboard{
    background-color: #f1f5f9;
    padding: 2rem 1.5rem;
    margin-top: 4px;
    min-height: calc(100vh - 4px);
}
/* sidebar */
.offcanvas-header a {
    color: #150e6b;
}
.sidebar-menu a, .sidebar-menu form button{
    font-size: 1.1rem;
    padding: 10px;
    display: block;
    border-radius: 10px;
}
.sidebar-menu ul li a:hover, .sidebar-menu ul li form button:hover{
    background-color: #c9ccff;
    border-radius: 10px;
}
.user-wrapper {
    padding-top: 8px;
    padding-left: 29px;
}
/* cards */
.cards-abm .card{
    background-color: #fff;
    border-color: #c9ccff;
    max-width: 18rem;
}
.cards-abm .card span{
    color: grey;
}
/* form editar y nuevo */
.form-editar, .form-nueva-entrada{
    background: #fff;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    margin: auto;
}
.form-aclaracion {
    color: grey;
    font-size: 10px;
}
.form-editar form textarea, .form-nueva-entrada form textarea{
    resize: none;
    height: 250px;
    box-shadow: 0px 1px 3px 1px rgb(54 72 182 / 45%);
}
.titulo-admin{
    color: #3648b6;
}
.borrar-titulo{
    color: #aa0f0f;
}
/* main layout */
.main-nav{
    background-color: #150e6b;
}
.main-nav .navbar-toggler{
    color: #fff;
    border: var(--bs-border-width) solid #efefef94;
}
.section-uno{
    background: linear-gradient(92deg, #150e6b, #12289f, #3648b6);
    padding: 20px;
}
.section-uno label, .section-uno p{
    color: #d8dbdda8;
}
.section-dos{
    padding: 20px;
}
.section-dos .productos{
    padding: 10px;
    border: #e1e5f0 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-height: 22rem;
}
.btn-hostin{
    color: #150e6b;
    border: #3648b6 1px solid;
    border-radius: 10px;
}
.btn-hostin:hover{
    color: #150e6b;
    background-color: #3647b650;
    border: #3648b6 1px solid;
    border-radius: 10px;
}
.section-tres{
    background: #fff;
    padding: 20px;
    margin: 76px;
}	
.section-tres h2{
    color: #150e6b;
}
.section-tres .card-body-dos{
    background: #e1e5f052;
    padding: 15px;
    border-radius: 10px;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-tres .card-body-dos p:last-child{
    font-size: 14px;
}
.section-tres .card-body-dos img{
    padding: 10px;
    background: linear-gradient(238deg, #e1e5f0, #c9ccff);
    border-radius: 50px;
    height: 64px;
    width: 70px;
} 
.section-cuatro{
    background: linear-gradient(179deg, #fff, #e1e5f0, #c9ccff);
    padding: 20px;
}
.section-cuatro .card-body{
    min-height: 13rem;
}
.btn-entradas{
    color: #fff;
    background: #3648b6;
    border-radius: 10px;
}
.btn-entradas:hover{
    color: #fff;
    background: #12289f;
    border-radius: 10px;
}
/* blog */
.section-blog{
    width: 77%;
    margin: auto;
}
.blog{
    color: #150e6b;
}
.section-blog .card {
    min-height: 13rem;
}
.section-entrada-blog{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.section-entrada-blog a {
    padding-left: 0px !important;
}
.section-entrada-blog article {
    background: #c9ccff21;
    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.section-entrada-blog article p {
    font-size: 17px;
}
/* nosotros */
.section-nosotros{
    margin: auto;
    width: 85%;
}
.section-nosotros div h1, .section-nosotros div h2 {
    color: #3648b6;
}
.section-nosotros div label{
    font-size: 18px;
}
.section-nosotros div label strong, .section-nosotros .last-div div label strong{
    color: #150e6b;
}
.section-nosotros .div-diferentes{
    background: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 2px 1px 3px 2px rgb(0 0 0 / 8%);
}
.section-nosotros .div-diferentes label:last-child{
    font-size: 16px;
}
.section-nosotros .last-div{
    width: 80%;
    margin: auto;
}
.section-nosotros hr {
    width: 13%;
}
/* login */
.login{
    width: 40%;
    margin: auto;
    background: #e1e5f04a;
    padding: 54px;
    border-radius: 10px;
}
.login form button{
    background: #c9ccff;
    border-radius: 10px;
}
.login form button:hover{
    background: #a8acf8;
    border-radius: 10px;
}
.login form a:hover {
    color: #150e6b;
}	
.form-register{    
    padding: 15px;
    margin: auto;
    width: 65%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}	
.form-register form button{
    background: #12289f;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}
.form-register form button:hover{
    background: #3648b6;
    color: #fff;
    border-radius: 10px;
}
.client-table{
    width: 70%;
    margin: auto;
}	
.div-confirm-product{
    width: 40%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
    .form-editar, .form-nueva-entrada{
        width: 100%;
    }
    .section-tres{
        margin: 0;
    }
    .section-blog, 
    .section-entrada-blog, 
    .section-nosotros .last-div,
    .section-nosotros{
        width: 100%;
        margin: 0;
    }
    .section-tres {
        padding: 0;
    }
    .login{
        width: 100%;
        margin: 0;
    }
    .alert{
        width: 100%;
    }
    .section-nosotros div:nth-child(2){
        padding: 20px;
    }
    .form-register{
        width: 100%;
    }	
    .client-table,
    .div-confirm-product{
        width: 100%;
    }	
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .section-tres{
        margin: 0;
    }
    .section-nosotros{
        margin: 0;
        width: 100%;
    }
    .div-confirm-product{
        width: 60%;
    }	
}